In [3]:
# import các thư viện hỗ trợ
import requests
from bs4 import BeautifulSoup
import json
import time # Dùng để sleep chương trình
import pandas as pd # Dùng để đọc và hiển thị file csv (Pandas sẽ được học chi tiết ở buổi tới)
import datetime as dt # Dùng để xử lý dữ liệu thời gian
import re

In [4]:
df1 = pd.read_csv('books_N1.csv', sep='\t')

In [5]:
df2 = pd.read_csv('books_N2.csv', sep='\t')

In [6]:
df3 = pd.read_csv('books_N3.csv', sep='\t')

In [7]:
df4 = pd.read_csv('books_N4.csv', sep='\t')

In [9]:
df6 = pd.read_csv('book3.csv', sep='\t')

In [10]:
df7 = pd.read_csv('book4.csv', sep='\t')

In [11]:
df8 = pd.read_csv('book5.csv', sep='\t')

In [12]:
df9 = pd.read_csv('book6.csv', sep='\t')

In [13]:
df10 = pd.read_csv('book7.csv', sep='\t', error_bad_lines=False)

In [33]:
df11 = pd.read_csv('test.csv', sep='\t')
df11.head()

,book_id,title,authors,average_rating,ratings_count,text_review,num_pages,publication,publisher,genre
0,104700,Self Analysis,L. Ron Hubbard,3.80,283,32,336,October 28th 1992,"Bridge Publications, Inc.",Self Help
1,104734,The Vagina Monologues,Eve Ensler,3.88,29572,2125,185,May 3rd 2001,Virago Press Ltd.,Feminism
2,104737,A Monstrous Regiment of Women,Laurie R. King,4.03,22391,1769,336,2000,HarperCollins,Mystery
3,104739,A Grave Talent,Laurie R. King,3.93,6497,482,342,June 1st 1995,Crimeline,Mystery
4,104790,All's Well That Ends Well,William Shakespeare,3.64,14088,638,336,January 1st 2006,Simon Schuster,Classics

In [34]:
df = df.append(df11, ignore_index=True)
df.shape

(2631, 10)

In [37]:
df = df.drop_duplicates('book_id')
df.shape

(2485, 10)

In [42]:
df.to_csv('books.csv', sep='\t', index=False)

In [44]:
data = pd.read_csv('books.csv', sep='\t')
data.shape

(2485, 10)